.section1{
    text-align: center;
}
.section1 input{
    height:40px;
    font-size: 18px;
    padding:5px;
    width:40%;
}
.section1 button{
    height:55px;
    font-size: 18px;
    margin: 0;
    border-radius: 0;
    padding:0 30px;
    background-color: red;
    color: white;
    border: none;
}
.EXERCISES{
    display: flex;
    flex-wrap: wrap;
    width:90%;
    justify-content: space-between;
    margin: 5%;
}
.EXERCISE{
    width:27%;
    text-align: center;
    border-top: 10px solid #883737;
    color:black;
    background-color: #fff;
    margin:1%;
    padding:2%;
}
.EXERCISE img{
    width:100%;
    height: 300px;
}
.FEATURES{
    display: flex;
    justify-content: center;
    
}
.FEATURES p{
    margin-left: 20px;
    background-color: rgb(237, 177, 65);
    padding:10px 15px ;
    border-radius:50px ;
    font-weight: bold;
}
.FEATURES p:last-of-type{
    background-color: plum;
}
.EXERCISETYPES{
    /* display: flex; */
    width:100%;
    /* flex-wrap: wrap; */
}
.EXERCISETYPE{
    width:10%;
    display: inline-block;
    background-color: white;
    color:black;
    margin:2%;
    padding:3.5% 5%;
    border-radius: 15px;
    box-shadow: 0 0 8px grey;
}
.EXERCISETYPE p{
    font-size: 25px;
}
.EXERCISETYPE i{
    font-size: 40px;
}