.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:60%;
    padding:5% 20%;
}.cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:92%;
    padding:2%;
    background-color: white;
    color: black;
    font-weight: bold;
    margin:2%;
}
.produts,.carts{
    width:45%;
    border: 5px double white;
    padding:1.5%;
}
.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:92%;
    box-shadow: 0 0 10px white;
    margin:2%;
    padding:2%;
}
.Pname{
    width:20%;
    padding: 1%;
}